@import "../../index.scss";

.homeContainer {
    display: flex;
    .tableContainer {
        flex: 2;
        margin-right: 20px;
        border-radius: 10px;
        .table {
            font-size: 25px;
            .row {
                display: flex;
                .cell {
                    flex: 1;
                    text-align: center;
                }
            }
            .header {
                .row {
                    background-color: var(--secondary-clg);
                }
            }
            .body {
                .row {
                    padding: 5px 0;
                    transition: linear 0.1s;
                    border: solid 0.5px rgba(0, 0, 0, 0.28);
                    &:nth-child(odd) {
                        background-color: var(--third-clg);
                    }
                }
                .title {
                    width: 10px;
                    text-overflow: ellipsis;
                    white-space: wrap; /* Prevent text from wrapping */
                    overflow: hidden;
                }
            }
        }
    }
    .createTaskContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        background-color: var(--third-clg);
        border-radius: 10px;
        border: black solid 1px;
        h1 {
            text-align: center;
        }
        form {
            flex: 1;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            height: 100%;
            .taskTitle,
            .taskPriority,
            .taskSchedule,
            .taskDescription {
                display: flex;
                margin-bottom: 20px;
                .title {
                    margin-right: 5%;
                }
            }
            .taskTitle {
                input {
                    flex: 1;
                    font-family: "Indie Flower", cursive;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    border-bottom: black dashed 1px;
                    font-size: 25px;
                    padding: 5px 10px;
                    &:focus{
                        border: solid 1px rgba(182, 182, 182, 0.483);
                        border-radius: 5px;
                    }
                }
            }
            .taskPriority {
                justify-content: space-between;
                .priorityOption {
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .taskSchedule {
                input {
                    width: 40%;
                    text-align: center;
                    font-family: "Indie Flower", cursive;
                    letter-spacing: 0.2rem;
                    padding: 1rem;

                }
            }
            .taskDescription {
                flex: 1;
                display: flex;
                flex-direction: column;
                textarea {
                    font-size: 25px;
                    flex: 1;
                    padding: 10px;
                    font-family: "Indie Flower", cursive;
                    resize: none;
                    &:focus {
                        outline: none;
                    }
                }
            }
            button[type="submit"] {
                padding: 5px 0;
                font-size: 25px;
                font-family: "Indie Flower", cursive;
                cursor: pointer;
                outline: none;
                border: none;
            }


            button[name="create"] {
                background-color: var(--primary-clg);
                box-shadow: 5px 5px 0px var(--secondary-clg);
                transition: box-shadow 0.1s;
                &:active {
                    box-shadow: 3px 3px 0px var(--secondary-clg);
                }
            }
            
            button[name="random"] {
                margin-top: 20px;
                background-color: var(--fourth-clg);
                box-shadow: 5px 5px 0px var(--fifth-clg);
                transition: box-shadow 0.1s;
                &:active {
                    box-shadow: 3px 3px 0px var(--fifth-clg);
                }
            }
        }
    }
}
