@import "../../index.scss";

.skeletonContainer {
    min-height: 100vh;
    background-color: var(--background-clg);
    padding: 5vh 5vw;
    .navBar {
        margin-bottom: 50px;
        button {
            padding: 5px 15px;
            font-size: 20px;
            outline: none;
            border: none;
            background-color: var(--primary-clg);
            box-shadow: 5px 5px 0px var(--secondary-clg);
            font-family: "Indie Flower", cursive;
            margin-right: 15px;
            cursor: pointer;
            &:active {
                box-shadow: 3px 3px 0px var(--secondary-clg);
            }
        }
    }
}
