@import "../../index.scss";

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-clg);
    .greetingContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .buttonContainer {
        flex-basis: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 5%;
        box-sizing: border-box;
        button {
            font-size: 30px;
            outline: none;
            border: none;
            padding: 5px 10px;
            background-color: var(--primary-clg);
            box-shadow: 5px 5px 0px var(--secondary-clg);
            font-family: "Indie Flower", cursive;
            cursor: pointer;
            &:active {
                box-shadow: 3px 3px 0px var(--secondary-clg);
            }
        }
    }
}
