@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: "Indie Flower", cursive;
}

:root {
    --background-clg: #f1f8e8;
    --primary-clg: #95d2b3;
    --secondary-clg: #55ad9b;
    --third-clg: #d8efd3;
    --third-clg-greener: #bff3b3;
    --fourth-clg: rgb(164, 220, 90);
    --fifth-clg: rgb(91, 144, 21);
}
